# python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/


# Virtual Environment
.venv/
venv/


# Environment Variables

.env


# macOS

.DS_Store


# Vector Database

data/chroma_db/

# Uploaded PDFs (optional)
data/pdfs/


# Logs

logs/
*.log


# IDE
.vscode/
.idea/